<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li><a href="#">Bienvenue</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="name col-xs-4">
        <h1>My Name</h1>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="jumbotron">
    <div class="container">
      <h2>
        Bonjour,je m'appelle
        <span class="highlight">Yann Caperan</span>
        bienvenue sur mon site
      </h2>
      <a class="btn right" href="portfolio">Découvrez mes projets</a>
    </div>
  </div>
</div>
